{% extends 'base.html' %}
{% block main %}
<div class="container py-5">
    <div class="row">
        <h3>!!!Чтобы использовать все функции сайта нужно зарегистрироваться!!!</h3>
        <a href="{% url 'collections' %}">
            <div class="card my-3">
                <div class="card-body">
                    Коллекции
                </div>
            </div>
        </a>
        <a href="{% url 'bookmarks' %}">
            <div class="card my-3">
                <div class="card-body">
                    Закладки
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}